
{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% load static %}
{% block content %}




<section class="project-section center-column">
    <h2>Projects</h2>
    <div class="projects-list">
      <div class="project-card">
        <a href="http://github.com/" target="_blank">
            <img src="{% static 'img/picture-1.jpg' %}" alt="Project Image">
          <p>First Project Name</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, beatae?</p>
          <p>YYYY</p>
          <br>
          <div class="skill-container">
            <label>Skill</label>
            <label>Skill</label>
            <label>Skill</label>
            <label>Skill</label>
          </div>
        </a>
      </div>
      </div>
 
    
    <div class="projects-list">
      <div class="project-card">
        <a href="http://github.com/" target="_blank">
            <img src="{% static 'img/picture-1.jpg' %}" alt="Project Image">
          <p>First Project Name</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, beatae?</p>
          <p>YYYY</p>
          <br>
          <div class="skill-container">
            <label>Skill</label>
            <label>Skill</label>
            <label>Skill</label>
            <label>Skill</label>
          </div>
        </a>
      </div>
      </div>
  
    
    <div class="projects-list">
      <div class="project-card">
        <a href="http://github.com/" target="_blank">
            <img src="{% static 'img/picture-1.jpg' %}" alt="Project Image">
          <p>First Project Name</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, beatae?</p>
          <p>YYYY</p>
          <br>
          <div class="skill-container">
            <label>Skill</label>
            <label>Skill</label>
            <label>Skill</label>
            <label>Skill</label>
          </div>
        </a>
      </div>
      </div>
    </section>


    

</div>
</div>
</div>




<footer>
  <div class="name1">
    <a href="">
      <h2 class="name">Samuel Price</h2>
    </a>
  </div>
  <nav>
    <div class="nav-link ">
      <a href="./about1.html">About Me</a>
      <a href="./projects1.html">Projects</a>
      <a href="./experience1.html">Experience</a>
      <a href="./contact1.html">Contact</a>
    </div>
  </nav>
  
</footer>
</body>
</html>

{% endblock content %}