
{% extends 'base.html' %}
{% block title %}{% endblock title %}
{% load static %}
{% block content %}




<section class="project-section center-column">
    <h2>Projects</h2>
    <div class="projects-list">

      {% for project in projects %}
      <div class="project-card">
        <a href="{{project.repository}}" target="_blank">
            <img src="{{project.image}}" alt="Project Image">
          <p>{{project.name}}</p>
          <p>{{ project.description }}</p>
          <p>{{ project.year }}</p>
          <br>
          <div class="skill-container">
            {% for skill in project.skill.all %}
            <label>{{ skill.name }}</label>
            {% endfor %}
            
          </div>
        </a>
      </div>
      </div>
      <br><br>
      {% endfor %}
    </section>


    

</div>
</div>
</div>




<footer>
  <div class="name1">
    <a href="">
      <h2 class="name">Samuel Price</h2>
    </a>
  </div>
  <nav>
    <div class="nav-link ">
      <a href="{% url 'about' %}">About Me</a>
            <a href="{% url 'projects' %}">Projects</a>
      <a href="./experience.html">Experience</a>
      <a href="./contact.html">Contact</a>
    </div>
  </nav>
  
</footer>
</body>
</html>

{% endblock content %}