{% extends 'base.html' %}
{% block title %}about me{% endblock title %}
{% load static %}
<body>
    <header class="center-row">
        <div class="logo center-row">
          <a href="">
            <h2 class="name">Samuel Price</h2>
          </a>
        </div>
        <nav>
          <div class="nav-link center-row">
            <a href="./about.html">About Me</a>
            <a href="./projects.html">Projects</a>
            <a href="./experience.html">Experience</a>
            <a href="./contact.html">Contact</a>
          </div>
        </nav>
      </header>
    

    {% endblock content %}
    <h2> here is my Footer</h2>
</body>
</html>