{% extends 'base.html' %} 

{% block title %} Test Page {% endblock title %}
{% load static %}
{% block content %}

<section class="about-section center-row">
    <div class="about-image-container center-row">
    <img src="./static/img/selfphoto.jpeg" alt="my logo" />
    </div>
    <div class="about-desciption-container center-column">
    <h1>Tester</h1>
    <h2>Samuel Price</h2>
    <p>
      As a dedicated web application tester, I meticulously navigate through every nook 
      and cranny of digital interfaces, ensuring seamless user experiences. My keen eye for 
      detail allows me to pinpoint even the most elusive bugs, ensuring that the applications 
      I test are robust and reliable. Through rigorous testing protocols, I contribute to the 
      enhancement of web applications, fostering trust and satisfaction among users.
        <br><br>
        With my expertise, I not only detect existing flaws but also anticipate potential issues,
         devising preemptive strategies to fortify the integrity of web applications. My role 
         extends beyond mere testing; I collaborate closely with developers, providing valuable
          feedback and insights to refine and optimize the functionality of web interfaces. My
           commitment to excellence in web application testing cultivates a digital landscape
            where reliability and user satisfaction reign supreme.
    </p>
    <div class="skill-list center-column">
        <h2>My skill</h2>
        <div class="tags-container center-row">
        <label>JS</label>
        <label>PYTHON</label>
        <label>LINUX</label>
        <label>NMAP</label>
        <label>REACT</label>
        <label>FLASK</label>
        <label>DJANGO</label>
        <label>DJANGO</label>
        <label>HTML</label>
        <label>CSS</label>
    </div>
    </div>
</div>
</section>
  
<footer>
  <div class="name1">
    <a href="">
      <h2 class="name">Samuel Price</h2>
    </a>
  </div>
  <nav>
    <div class="nav-link ">
      <a href="./about1.html">About Me</a>
      <a href="./projects1.html">Projects</a>
      <a href="./experience1.html">Experience</a>
      <a href="./contact1.html">Contact</a>
    </div>
  </nav>
  
</footer>
</body>
</html>


{% endblock content %}